html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #080808;
	/* display: flex; */
	position: relative;
	color: aliceblue;
}

h1, h2, h3, h4, h5, h6, p, li, ol, ul, q {
	font-family: "acumin-pro", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-size: 18px;
	line-height: 1.4;
}

h2 {
	font-family: "acumin-pro-wide", sans-serif;
}

a {
	text-decoration: underline;
	color: blue;
}

ul {
	padding: 0;
	padding-left: 1em;
	/* list-style-type: none; */
}

li {
	padding: 0;
	padding-left: 1.1em;
}

iframe {
	width: 100%;
	mix-blend-mode: lighten;
}



/* OVERALL CONTAINERS AND COLUMNS
--------------------------------------------------------- */

.left {
	padding: 30px;
	width: 50%;
	float: left;
	/* border: 2px solid green; */
}

.right {
	padding: 30px;
	width: 50%;
	float: right;
	/* border: 2px solid red; */
}

.quad {
	height: 50%;
	/* border: 2px solid yellow; */
}

.text {
	width: 400px;
}


/* MEDIA QUERIES
--------------------------------------------------------- */

@media screen and (max-width: 1000px) {

h1, h2, h3, h4, h5, h6, p, li, ol, ul {
	font-size: 16px;
}

.left {
	display: none;
}

.middle {
	width: 50%;
}

.right {
	width: 50%;
}

table, td {
	font-size: 16px;
}

}


@media screen and (max-width: 800px) {

}