html, body {
	height: 100%;
}

body {
	margin: 0;
	padding-left: 30px;
	background: #080808;
	display: flex;
	position: relative;
	color: aliceblue;
}

h1, h2, h3, h4, h5, h6, p, li, ol, ul, q {
	font-family: "acumin-pro", sans-serif;
	font-weight: 300;
	font-style: normal;
	text-rendering: optimizeLegibility;
	font-size: 14px;
	line-height: 1.4;
}

h2 {
	font-family: "acumin-pro-wide", sans-serif;
}

a {
	text-decoration: underline;
	color: blue;
}

ul {
	padding: 0;
	padding-left: 1em;
	/* list-style-type: none; */
}

li {
	padding: 0;
	padding-left: 1.1em;
}

table, td {
	padding: 0;
	border-collapse: collapse; 
	vertical-align: top;
	font-size: 14px;
	line-height: 1.1;
	/* border: 1px solid yellow; */
}

td {
	min-width: 80px;
}

.week {
	text-align: right;
	font-family: "acumin-pro", sans-serif;
	font-weight: 300;
	font-style: normal;
	font-size: 14px;
	border: 1px solid purple;
	width: 100%;
}

.date-1 {
	font-family: "acumin-pro-condensed", sans-serif;
	font-weight: 300;
	text-transform: uppercase;
}

.topic {
	font-family: "acumin-pro-wide", sans-serif;
	font-weight: 300;
	font-style: normal;
	/* text-transform: uppercase; */
}

.exer {
	font-family: "acumin-pro-condensed", sans-serif;
	font-weight: 300;
}



/* OVERALL CONTAINERS AND COLUMNS
--------------------------------------------------------- */

.left {
	padding: 30px;
	width: 100px;
	float: left;
	/* writing-mode: vertical-rl; */
}

.middle {
	padding: 30px;
	width: 400px;
}

.right {
	padding: 30px;
	width: 40%;
	float: right;
}

/* MEDIA QUERIES
--------------------------------------------------------- */

@media screen and (max-width: 1000px) {

h1, h2, h3, h4, h5, h6, p, li, ol, ul {
	font-size: 16px;
}

.left {
	display: none;
}

.middle {
	width: 50%;
}

.right {
	width: 50%;
}

table, td {
	font-size: 16px;
}

}


@media screen and (max-width: 800px) {

}